.rbc-allday-cell {
  display: none;
}

.rbc-event{
  color:black;
}

.rbc-time-header-gutter,
.rbc-header {
  border-bottom: 4px solid #DAE6FF;
}

.rbc-header {
  text-align: left;
  padding-left: 4px
}

.rbc-header + .rbc-header {
  border-left: 0px;
}

.rbc-time-view,
.rbc-time-content,
.rbc-timeslot-group,
.rbc-day-slot .rbc-time-slot {
  border: none;
}

.rbc-time-content > * + * > * {
  border-left: 2px solid #DAE6FF;
}

.rbc-time-header-content {
  border-left: 0px;
}