.rbc-day-slot .rbc-event {
  border: none;
  border-radius: 0px;
}

.rbc-calendar * {
  color: black;
}

.rbc-label {
  font-size: 10px;
}

.rbc-header {
  font-size: 10px;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 2px;
  margin-left: 3px;
  border-left: none;
}

.rbc-event-label {
  font-size: 10px;
}

.rbc-event-content {
  font-size: 12px;
  text-overflow: ellipsis;
}

.rbc-toolbar button {
  border: none;
}

.rbc-toolbar {
  gap: 8px;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 0;
}

.rbc-allday-cell {
  display: none;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.new-vacation-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.new-vacation-form-datetime-group {
  display: flex;
  gap: 8px;
}

.calendar-container {
  flex-grow: 4;
}